.btn{
    border: 1px solid rgb(0, 0, 0);
    border-radius: 15px;
    padding: 1rem 4rem;
    font-size: 1rem;
    background-color: inherit;
    /* background-color: #95f170; */
    transition: background-color 0.5s ;
}

.btn:hover{
background-color: #b1aeae;
}