.inputBox {
	margin-bottom: 0.7rem;
	display: flex;
	align-items: center;
	justify-content: start;
	width: 100%;
	/* border: 1px solid green; */
	text-align: start;
}

.inputBox label {
	/* width: 100%; */
	font-size: 1.3rem;
}

.aaa {
	width: 1.3rem;
	height: 1.3rem;
	margin-right: 1rem;
}
